[tool.poetry]
name = "exasol-integration-test-docker-environment"
version = "1.3.1"
description = "Integration Test Docker Environment for Exasol"

license = "MIT"

authors = [
    "Torsten Kilias <torsten.kilias@exasol.com>"
]

readme = 'README.rst'

repository = "https://github.com/exasol/integration-test-docker-environment"
homepage = "https://github.com/exasol/integration-test-docker-environment"

keywords = ['exasol', 'docker', 'testing']
include = ["docker_db_config","ext"]
exclude = ["exasol_integration_test_docker_environment/test"]

[tool.poetry.dependencies]
python = ">=3.8,<4"
click = ">=7.0"
# The `sys_platform` marker makes sure the docker dependency is only installed on
# non windows platforms.
docker = {version = ">=4.0.0", markers = "sys_platform != 'win32'"}
gitpython = ">=2.1.0"
humanfriendly = ">=4.18"
jinja2 = ">=2.10.1"
jsonpickle = ">=1.1"
luigi = ">=2.8.4"
netaddr = ">=0.7.19"
networkx = ">=2.3"
pydot = ">=1.4.0"
requests = ">=2.21.0"
simplejson = ">=3.16.0"
importlib_resources = ">=5.4.0" #Needed to copy resource files, can be removed after upgrading to Python 3.9 (see https://docs.python.org/3.11/library/importlib.resources.html#importlib.resources.files)
"stopwatch.py" = ">=1.0.0"
exasol-bucketfs = "^0.6.0"


[tool.poetry.dev-dependencies]
toml = ">=0.10.2"
nox = "^2022.1.7"
exasol-sphinx-github-pages-generator = {git = "https://github.com/exasol/sphinx-github-pages-generator.git"}


[tool.poetry.scripts]
itde = 'exasol_integration_test_docker_environment.main:main'