name: Bulid Executable

on:
  workflow_call:
    inputs:
      release-tag:
        type: string
        description: 'Release tag'
        required: true

jobs:

  standalone-executable:
    name: Create a standalone linux executable
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: SCM Checkout
        uses: actions/checkout@v6

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v4

      - name: Build standalone executable
        run: poetry run -- nox -s build-standalone-binary -- --executable-name "itde_linux_x86-64"

      - name: Execute the executable
        run: poetry run -- nox -s execute-itde -- --executable-name "dist/itde_linux_x86-64"

      - name: Upload to release
        if: ${{ inputs.release-tag != ''}}
        run: gh release upload ${{ inputs.release-tag }} dist/itde_linux_x86-64
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
