on:
  workflow_call:
    inputs:
      only_gpu:
          description: 'Filter for versions which support GPU'
          default: false
          required: false
          type: boolean

    outputs:
      matrix:
        description: "The list of known db versions"
        value: ${{ jobs.get_exasol_versions.outputs.matrix }}
jobs:
  get_exasol_versions:
    name: "get_exasol_versions with_gpu=${{inputs.only_gpu}}"
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: SCM Checkout
        uses: actions/checkout@v5

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v4
        with:
          python-version: "3.10"

      - id: set-matrix
        run: |
          [[ "${ONLY_GPU}" == "true" ]] && AdditionalArgs='--gpu-only' || AdditionalArgs=""
          ALL_DB_VERSIONS=`poetry run -- nox --non-interactive -s 'get-all-db-versions' -- $AdditionalArgs`
          echo "matrix=$ALL_DB_VERSIONS" >> "$GITHUB_OUTPUT"
        env:
          ONLY_GPU: ${{ inputs.only_gpu }}

      - name: Print matrix
        run: echo ${{ steps.set-matrix.outputs.matrix }}

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
