name: CI

on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        exasol_version:
        - 7.0.0
        - 6.2.9-d1
        - 6.2.8-d1
        - 6.2.7-d1
        - 6.2.6-d1
        - 6.2.5-d1
        - 6.2.4-d1
        - 6.2.3-d1
        - 6.2.1-d1
        - 6.2.0-d1
        - 6.1.11-d1
        - 6.1.10-d1
        - 6.1.9-d1
        - 6.1.8-d1
        - 6.1.7-d1
        - 6.1.6-d1
        - 6.1.1-d1
        - 6.0.16-d1
        - 6.0.13-d1
        - 6.0.12-d1
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup Python 3.6 for integration-test-docker-environment
      uses: actions/setup-python@v2
      with:
        python-version: 3.6

    - name: Install pipenv
      uses: dschep/install-pipenv-action@v1

    - name: Run tests
      run: ./run_all_tests.sh
      env:
        EXASOL_VERSION: "${{ matrix.exasol_version }}"  
