name: Test Docker GPU

on:
  workflow_call:

jobs:
  get_exasol_versions_with_gpu:
    uses: ./.github/workflows/get-exasol-versions.yml
    permissions:
      contents: read
    with:
      only_gpu: true
  test-docker-gpu:
    name: Run GPU Tests for Exasol  ${{ matrix.exasol_version }}
    runs-on:
      labels: int-linux-x64-4core-gpu-t4-ubuntu24.04-1
    permissions:
      contents: read
    needs: get_exasol_versions_with_gpu
    strategy:
      fail-fast: false
      matrix:
        exasol_version: ${{fromJson(needs.get_exasol_versions_with_gpu.outputs.matrix)}}
    steps:
      - name: SCM Checkout
        uses: actions/checkout@v6
      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v4
        with:
          python-version: "3.10"
      - name: Log GPU environment
        run: |
          echo Running nvidia-smi
          nvidia-smi
          echo Running nvidia-ctk --version
          nvidia-ctk --version


      - name: Run GPU Tests
        run: poetry run -- nox -s run-all-tests -- --db-version='${{ matrix.exasol_version }}' --test-set=gpu-only
