name: Test EXAConf files

on:
  workflow_call:

jobs:
  test-docker-starter:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: SCM Checkout
        uses: actions/checkout@v6

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v5
        with:
          python-version: "3.10"
          poetry-version: "2.3.0"

      - name: Run Update of EXAConf files
        run: poetry run -- nox -s copy-docker-db-config-templates

      - name: Show changes on working copy
        run: git status --porcelain=v1 -uno

      - name: Show diff on working copy
        run: git diff --cached; git diff --cached --summary;

      - name: Fail if git working tree is not clean
        # If this check fails, you need to run `poetry run -- nox -s copy-docker-db-config-templates` before commiting
        # or alternatively activate the commit hooks (see developer guide).
        run: |
          [ -z "$(git status --porcelain=v1 -uno 2>/dev/null)" ]
