name: Test Python Versions with all tests

# python-version: All supported Python version
# database-version: Default
# tests: all
#
# Call nox task run_tests for all version of Python as defined in the
# python-toolbox (PTB) using the default version of the Exasol database.

on:
  workflow_call:

jobs:

  build-matrix:
    name: Generate Build Matrix
    permissions:
      contents: read
    uses: ./.github/workflows/matrix-python.yml

  test-python-version-all-tests:
    name: "Run Tests with Python ${{ matrix.python-version }} and Default Exasol Version"
    permissions:
      contents: read
    needs: [ build-matrix ]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.build-matrix.outputs.matrix) }}
    runs-on: ubuntu-24.04
    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@1.6.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Allow unprivileged user namespaces
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Run all tests
        run: poetry run -- nox -s run-all-tests -- --db-version=default --test-set=default
