name: Test Shell Scripts

on:
  workflow_call:

jobs:
  build:
    name: Test Shell Scripts
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: SCM Checkout
        uses: actions/checkout@v6

      - name: Run shellcheck
        run: ./scripts/build/shellcheck.sh

      - name: Install Test Dependencies
        run: sudo apt-get install -y shunit2

      - name: Run shunit2 based Shell Tests
        run: shunit2 scripts/health_test.sh
